<!DOCTYPE html>
<html lang="en">
<%- include public/head.ejs %>

<!--[if lt IE 7 ]>
<body class="ie ie6"> <![endif]-->
<!--[if IE 7 ]>
<body class="ie ie7 "> <![endif]-->
<!--[if IE 8 ]>
<body class="ie ie8 "> <![endif]-->
<!--[if IE 9 ]>
<body class="ie ie9 "> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<body class="">
<!--<![endif]-->


<%-include public/navbar.ejs%>

<%-include public/sidebar.ejs%>


<div class="content">

    <div class="header">
        <div class="stats">
            <p class="stat"><span class="number">53</span>tickets</p>

            <p class="stat"><span class="number">27</span>tasks</p>

            <p class="stat"><span class="number">15</span>waiting</p>
        </div>

        <h1 class="page-title">Dashboard</h1>
    </div>

    <ul class="breadcrumb">
        <li><a href="#">Home</a> <span class="divider">/</span></li>
        <li class="active">Dashboard</li>
    </ul>

    <div class="container-fluid">
        <div class="row-fluid">
            <h3>你好，管理员<%=admin_userinfo_name%>，欢迎来到后台管理系统。<br/>
                你有权限进行所有后台操作,请谨慎操作！</h3>

            <footer>
                <hr>

                <!-- Purchase a site license to remove this link from the footer: http://www.portnine.com/bootstrap-themes -->
                <p class="pull-right">A <a href="http://www.portnine.com/bootstrap-themes" target="_blank">Free
                        Bootstrap Theme</a> by <a href="http://www.portnine.com" target="_blank">Portnine</a></p>

                <p>&copy; 2012 <a href="http://www.portnine.com" target="_blank">Portnine</a></p>
            </footer>

        </div>
    </div>
</div>


<%-include public/end-script.ejs%>

</body>
</html>


