<!DOCTYPE html>
<html lang="en">
<%- include public/head.ejs %>


<!--[if lt IE 7 ]>
<body class="ie ie6"> <![endif]-->
<!--[if IE 7 ]>
<body class="ie ie7 "> <![endif]-->
<!--[if IE 8 ]>
<body class="ie ie8 "> <![endif]-->
<!--[if IE 9 ]>
<body class="ie ie9 "> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<body class="">
<!--<![endif]-->


<%- include public/navbar.ejs %>

<%- include public/sidebar.ejs %>


<div class="content">

    <div class="header">

        <h1 class="page-title">用户管理</h1>
    </div>

    <ul class="breadcrumb">
        <li><a href="index.html">后台主页</a> <span class="divider">/</span></li>
        <li class="active">用户管理</li>
    </ul>

    <div class="container-fluid">
        <div class="row-fluid">

            <div class="btn-toolbar">
                <a href="<%= host %>admin/users/add" class="btn btn-primary"><i class="icon-plus"></i> 添加用户</a>
                <button class="btn">Import</button>
                <button class="btn">Export</button>
                <div class="btn-group">
                </div>
            </div>
            <div class="well">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>用户名</th>
                        <th>年龄</th>
                        <th>性别</th>
                        <th>邮箱</th>
                        <th>状态</th>
                        <th style="width: 26px;"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <%for(var i=0;i<userlist.length;i++){%>
                    <tr>
                        <td><%=i%></td>
                        <td><%=userlist[i].username%></td>
                        <td><%=userlist[i].age%></td>
                        <td><%=userlist[i].sex%></td>
                        <td><%=userlist[i].email%></td>
                        <%if(userlist[i].status==1){%>
                        <td>可用</td>
                        <%}else if(userlist[i].status==0){%>
                        <td>禁用</td>
                        <%}%>
                        <td>
                            <a href="<%=host%>admin/users/edit?_id=<%=userlist[i]._id%>"><i class="icon-pencil"></i></a>
                            <a href="<%=host%>admin/users/remove?_id=<%=userlist[i]._id%>" role="button" ><i class="icon-remove"></i></a>
                        </td>
                    </tr>
                    <%}%>
                    </tbody>
                </table>
            </div>
            <div class="pagination">
                <ul>
                    <li><a href="#">Prev</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </div>

            <div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">Delete Confirmation</h3>
                </div>
                <div class="modal-body">
                    <p class="error-text"><i class="icon-warning-sign modal-icon"></i>Are you sure you want to delete
                        the user?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    <button class="btn btn-danger" data-dismiss="modal">Delete</button>
                </div>
            </div>


            <footer>
                <hr>

                <!-- Purchase a site license to remove this link from the footer: http://www.portnine.com/bootstrap-themes -->
                <p class="pull-right">A <a href="http://www.portnine.com/bootstrap-themes" target="_blank">Free
                        Bootstrap Theme</a> by <a href="http://www.portnine.com" target="_blank">Portnine</a></p>

                <p>&copy; 2012 <a href="http://www.portnine.com" target="_blank">Portnine</a></p>
            </footer>

        </div>
    </div>
</div>


<%- include public/end-script.ejs %>

</body>
</html>


